:root {
  --c1: rgb(83, 191, 157);
  --c2: rgb(249, 76, 102);
  --c3: rgb(189, 66, 145);
  --c4: rgb(255, 197, 77);
  --white: #FFFFFF;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body
{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background-color: var(--white);
  color: var(--black);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;            /* Footer height */
  border-top: var(--white) solid 2px;
  background-color: var(--c1);
  color: var(--white);
  margin: 0;
}

.background-img {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)), url("./images/katie-rainbow-90bg59HzXxE-unsplash.jpeg");
  width: auto;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 2px 2px 200px #000000;
}

.transparent-bg {
  background-color: #ffffff00;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)), url("./images/katie-rainbow-90bg59HzXxE-unsplash.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 200px;
}

.footer {
  background-color: var(--c1);
  color: var(--white);
}

header {
  border-bottom: solid 2px var(--black);
  background-color: white;
  min-height: 10vh;
  font-weight: 900;
}

h1 {
  padding-right: 10px;
}

@media (max-width: 1052px) {
  .hidden {
    display: none;
  }
}

nav {
  max-width: 100vw;
}


img {
  max-height: 300px;
  width: auto !important;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

.nav {
  justify-content: center;
  width: 100%;
  
}

.underline {
  border-top: 5px solid var(--c1);
  margin-top: 0;
}

.underline-2 {
  border-top: 5px solid var(--c2);
  margin-top: 0;
}

.underline-3 {
  border-top: 5px solid var(--c3);
  margin-top: 0;
}

.underline-4 {
  border-top: 5px solid var(--c4);
  margin-top: 0;
}

.c1:hover {
  color: var(--c1)
}

.c2:hover {
  color: var(--c2)
}

.c3:hover {
  color: var(--c3)
}

.c4:hover {
  color: var(--c4)
}

/* #c-4 {
  background-color: var(--c4);
} */

.teamCardContainer {
  margin: auto;
}

.border1 {
  border-top: 1px solid var(--c1);
  border-right: 1px solid var(--c1);
  border-bottom: 1px solid var(--c1);
}

.border2 {
  border-top: 1px solid var(--c2);
  border-right: 1px solid var(--c2);
  border-bottom: 1px solid var(--c2);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media (max-width: 767px) { 
  .border1 {
    border: none;
    border-bottom: 1px solid var(--c1);
    border-top: 1px solid var(--c1);
  }

  .border2 {
    border: none;
    border-bottom: 1px solid var(--c2);
    border-top: 1px solid var(--c2);
  }
}

.card-body {
letter-spacing: .01rem;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 3rem !important;
}

.card-text {
  padding: .5rem;
}


h2, h3 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

h5 {
  margin-bottom: 1rem !important;
  margin-top: 1rem;
}

.footer-btn {
  background-color: rgba(0, 0, 0, 0.55);
  display: inline-block;
  line-height: 1rem;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.titleFont {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .25rem;
  font-size: 4rem;
}