:root {
  --c1: #13445A;
  --c2: #FEF4E8;
  --c3: #446878;
  --c4: #970747;

  --c1RGB: rgb(151, 7, 71, 1.0);
  --c2RGB: rgb(254, 244, 232, 1.0);
  --c3RGB: rgb(19, 68, 90, 1.0);
  --c4RGB: rgb(68, 104, 120, 1.0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body
{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background-color: var(--c2);
  color: var(--c3);
}

/* main {
  min-height: 80vh;
} */

header {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 15px;
  background-color: var(--c1);
  color: var(--c2);
}

footer {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: var(--c1);
  color: var(--c2);
}

.nav {
  justify-content: center;
  width:100%;
}

.nav-link, .navbar {
  background-color: var(--c2);
  color: var(--c3);
  box-shadow: 0px 10px 10px var(--c2);
}

.navbar {
  padding-bottom: 0;
}

#logo {
  width: 50px;
}

#tagLine {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: .9rem;
  font-style: italic;
  padding: 0;
}

.teamCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background-color: var(--c3RGB);
  color: var(--c4);
}

.member {
  padding: 5px;

}

.member img {
  border-radius: 100%;
}


h2, h3 {
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  margin-top: 1rem;
}

.nav-link:hover {
  color: var(--c4);
}

.card {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow:var(--c4) 0px 2px 8px 0px;
  color: var(--c3);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 20px;
}

.footer-btn {
  background-color: var(--c2);
  color: var(--c1);
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.footer-btn:hover {
  color: var(--c4);
}
/*
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
} */